@use "variables.scss";
.content-contianer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.childern {
  flex: 1;
}
.footer {
  background-color: variables.$main-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0 30px 0;
  margin-top: 80px;
  img {
    width: 45%;
    max-width: 150px;
    margin: 10px 0;
  }
}
