@use "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  background-color: black;
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
}
.global-button {
  cursor: pointer;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  white-space: nowrap;
  font-weight: 800;
  border: 2px solid transparent;
  background-color: variables.$main-red;
  transition: letter-spacing 0.4s ease, background-color 0.4s ease;
  &:hover {
    border: 2px solid variables.$main-red;
    letter-spacing: 2px;
    background-color: transparent;
  }
  svg {
    margin-left: 5px;
  }
  &:nth-of-type(2) {
    background-color: variables.$main-yellow;
    &:hover {
      background-color: transparent;
      border: 2px solid variables.$main-yellow;
    }
  }
}

.popular-movies-button {
  width: auto;
}
// the rating and remove from watchlist popups
.rating-box-contianer,
.remove-watchlist-box-contianer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .rating-box,
  .remove-watchlist-box {
    background-color: variables.$main-grey;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: top 0.3s ease;
    .x-mark {
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer;
    }
  }
}

//pages loading and not found
.all-cast-page-loading,
.all-cast-page-not-found,
.details-page-loading,
.details-page-not-found,
.career-page-loading,
.all-cast-page-not-found,
.watchlist-page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  img {
    width: 100px;
  }
}
