@use "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  background-color: black;
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
}
.global-button {
  cursor: pointer;
  padding: 15px 0;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  margin: 10px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  white-space: nowrap;
  font-weight: 800;
  border: 2px solid transparent;
  background-color: variables.$main-red;
  transition: letter-spacing 0.4s ease, background-color 0.4s ease;
  &:hover {
    border: 2px solid variables.$main-red;
    letter-spacing: 2px;
    background-color: transparent;
  }
  svg {
    margin-left: 5px;
  }
  &.add-to-watchlist {
    background-color: variables.$main-red;
    &:hover {
      background-color: transparent;
      border: 2px solid variables.$main-red;
    }
  }
}

.popular-movies-button {
  width: 100%;
}

// the rating and remove from watchlist popups
.sign-in-box-contianer,
.already-reviewed-contianer,
.rate-no-review-contianer,
.give-rating-popup-contianer,
.rating-box-contianer,
.remove-watchlist-box-contianer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .sign-in-box,
  .rating-box,
  .already-reviewed-box,
  .give-rating-popup-box,
  .rate-no-review-box,
  .remove-watchlist-box {
    background-color: variables.$main-grey;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: top 0.3s ease;
    .x-mark {
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer;
    }
  }
}

//pages loading and not found
.page-loading,
.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  img {
    width: 100px;
  }
}

//popup buttons
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  overflow: hidden;
  transition: height 0.4s ease;
  margin: 20px 0 0 0;
  button {
    padding: 8px 30px;
    margin: 0 30px 20px;
    width: 180px;
    cursor: pointer;
    font-weight: 800;
    color: white;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: scale 0.4s ease, background-color 0.4s ease;
    &:nth-last-of-type(1) {
      background-color: hsl(0, 0%, 20%);
      &:hover {
        background-color: transparent;
        border: 2px solid hsl(0, 0%, 20%);
        scale: 1.1;
      }
    }
    &:nth-last-of-type(2) {
      background-color: hsl(0, 0%, 20%);
      &:hover {
        background-color: transparent;
        scale: 1.1;
        border: 2px solid hsl(0, 0%, 20%);
      }
    }
  }
}

.remove-item {
  width: 100%;
  background-color: grey;
  align-self: center;
  font-size: 0.7rem;
  &:hover {
    border: 2px solid variables.$main-grey;
    letter-spacing: 1.2px;
    background-color: transparent;
  }
}
// the secondary loading styles
.secondary-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 769px;
  img {
    width: 100px;
  }
  &.user-reviews-loading {
    height: 550px;
  }
}

// the rate submission message
.hide-rate-submitted {
  bottom: -800px;
  height: 0;
  visibility: hidden;
  transition: height 0.4s ease, bottom 0.4s ease;
  svg {
    font-size: 4rem;
    color: variables.$main-yellow;
  }
}
.rate-submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: relative;
  height: auto;
  visibility: visible;
  transition: height 0.4s ease, bottom 0.4s ease;
  svg {
    font-size: 4rem;
    color: variables.$main-yellow;
  }
}

@media (max-width: 520px) {
  .leave-review {
    .buttons {
      flex-direction: column;
      height: fit-content;
      button {
        // font-size: 0.5rem;
        white-space: nowrap;
      }
    }
  }
}
