@use "variables.scss";
.leave-review {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: darken($color: variables.$main-grey, $amount: 7%);
  padding: 1% 5%;
  border-radius: 5px;
  .review-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      margin: 0;
    }
    .rating-stars {
      font-size: 2rem;
      color: variables.$main-yellow;
      margin: 30px 0;
      svg {
        cursor: pointer;
      }
    }
    textarea {
      padding: 20px 5px 20px 20px;
      border-radius: 4px;
      border: none;
      outline: none;
      width: calc(100% - 25px);
      color: white;
      background-color: variables.$sec-grey;
      font-size: 1.3rem;
      height: 80px;
      overflow-x: hidden;
      resize: none;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: variables.$sec-grey;
        border-radius: 0 0 5px 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: variables.$main-yellow;
        border-radius: 10px;
      }
    }
    .submit-button {
      cursor: pointer;
      color: white;
      white-space: nowrap;
      max-width: fit-content;
      padding: 10px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 3px;
      background-color: variables.$sec-grey;
      font-weight: 800;
      margin: 30px 0 0 0;
      &:hover {
        background-color: darken($color: variables.$sec-grey, $amount: 2%);
      }
    }
  }
}
