@use "variables.scss";
.leave-review {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: darken($color: variables.$main-grey, $amount: 7%);
  padding: 1% 5%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 550px;
  text-align: center;
  margin-bottom: 30px;
  h1 {
    text-align: left;
  }
  .review-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      margin: 0;
    }
    .rating-stars {
      font-size: 2rem;
      color: variables.$main-yellow;
      margin: 30px 0;
      transition: color 0.4s ease;
      svg {
        cursor: pointer;
      }
      &.shaking {
        color: red;
        transition: color 0.4s ease;
        animation: tilt-n-move-shaking 0.25s ease infinite;
      }
    }
    .rating {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 0 0 30px 0;
      color: grey;
      font-size: 2rem;
      span {
        width: 30px;
      }
      svg {
        margin: 0 10px;
        color: variables.$main-yellow;
      }
    }
    textarea {
      padding: 20px 5px 20px 20px;
      border-radius: 4px;
      border: 2px solid transparent;
      outline: none;
      width: calc(100% - 25px);
      color: white;
      background-color: variables.$sec-grey;
      font-size: 1.3rem;
      height: 80px;
      overflow-x: hidden;
      resize: none;
      transition: border 0.4s ease;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: variables.$sec-grey;
        border-radius: 0 0 5px 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: variables.$main-yellow;
        border-radius: 10px;
      }
    }
    .submit-button {
      cursor: pointer;
      color: white;
      white-space: nowrap;
      max-width: fit-content;
      padding: 10px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 3px;
      background-color: variables.$sec-grey;
      font-weight: 800;
      margin: 30px 0 20px 0;
      &:hover {
        background-color: darken($color: variables.$sec-grey, $amount: 2%);
      }
    }
    .textarea-empty {
      border: 2px solid red;
    }
    .field-cant-be-empty {
      visibility: hidden;
      color: red;
      margin: 10px 0 0 0;
      align-self: flex-start;
      &.show {
        visibility: visible;
      }
    }
  }

  .rate-button,
  .rate-updated,
  .show-rate-updated {
    cursor: pointer;
    color: white;
    white-space: nowrap;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    background-color: variables.$main-grey;
    font-weight: 800;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 0;
    transition: height 0.4s ease, padding 0.4s ease, margin 0.4s ease;

    &:hover {
      background-color: darken($color: variables.$main-grey, $amount: 3%);
      transition: all 0.4s ease;
    }

    svg {
      margin: 0 5px 0 0;
      color: variables.$main-yellow;
    }
  }

  .show-rate-button,
  .show-rate-updated {
    padding: 10px;
    margin: 0 0 20px 0;
    height: auto;
  }

  .show-rate-updated {
    font-size: 1.2rem;
  }

  .rate-updated svg,
  .show-rate-updated svg {
    margin-left: 10px;
  }
  .leave-review-content-contianer {
    width: 100%;
    top: 0;
    position: relative;
    height: auto;
    transition: height 0.4s ease, top 0.4s ease;
  }
  .hide-leave-review-content-contianer {
    top: -600px;
    height: 0;
    transition: height 0.4s ease, top 0.4s ease;
  }
  .rate-submitted#leave-review-box-rate-submitted {
    height: 520px;
    h1 {
      text-align: center;
    }
  }
  &.hide-leave-review {
    padding: 0;
    height: 0;
  }

  transition: height 0.5s ease, position 0.5s ease;
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
