@use "variables.scss";

.mini-title-card-container {
  position: absolute;
  bottom: 5%;
  left: 5%;
  overflow: hidden;
  background-color: hsl(0, 0%, 5%);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 100%;
    min-width: 200px;
    max-height: 220px;
  }
  button.popular-movies-button,
  .remove-item {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    font-size: 11px;
    border: 2px solid transparent;
    margin: 15px 0;
    transition: all 0.3s ease;
  }
  .remove-item {
    &:hover {
      border-color: variables.$sec-grey;
    }
  }
}
