@use "variables.scss";

.mini-card {
  width: 80%;
  position: absolute;
  left: 5%;
  bottom: -100%;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  transition: all 0.5s ease;
  .movie-plot {
    padding: 20px;
    border-radius: 0 5px 5px 0;
    line-height: 25px;
    color: white;
    overflow-x: hidden;
    background-color: hsla(0, 0%, 10%, 0.5);
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: variables.$main-grey;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: variables.$main-red;
      border-radius: 10px;
    }
  }
  .mini-title-card-container {
    height: 280px;
    display: flex;
    flex-direction: row;
    img {
      width: 100%;
      min-width: 210px;
      max-height: 220px;
    }
    .card-components {
      background-color: hsl(0, 0%, 5%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    button.popular-movies-button,
    .remove-item {
      width: 190px;
      padding: 5px;
      border-radius: 3px;
      font-size: 11px;
      border: 2px solid transparent;
      margin: 15px 0;
      transition: all 0.3s ease;
    }
    .remove-item:hover {
      border-color: variables.$sec-grey;
    }
    button.popular-movies-button:hover {
      border-color: variables.$main-yellow;
    }
  }
}

@media (max-width: 600px) {
  .mini-card {
    width: 100%;
    left: 0%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    background-color: hsla(0, 0%, 10%, 0.5);
    .mini-title-card-container {
      flex-direction: column-reverse;
      height: auto;
      img {
        display: none;
      }
      .card-components {
        background-color: transparent;
      }
      .movie-plot {
        background-color: transparent;
      }
      button.popular-movies-button,
      .remove-item {
        width: 70%;
        margin: 10px 0;
      }
    }
  }
}
