@use "variables.scss";
.main-page-carousel {
  display: flex;
  flex-direction: column;
  margin: 2%;
  h1 {
    margin-left: 10px;
  }
  .watchlist-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50dvh;
    color: variables.$main-red;
    a {
      cursor: pointer;
      color: grey;
      text-decoration: none;
      transition: color 0.4s ease;
      &:hover {
        color: white;
      }
    }
  }
}
.movies-card-container {
  margin: 0 10px;
  max-height: 850px;
  overflow: hidden;
  background-color: hsl(0, 0%, 5%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    margin: 5px 0;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
  }
  .card-components {
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .movie-plot {
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
    height: 50px;
  }
  img {
    width: 100%;
    min-width: 350px;
    height: 430px;
  }
  .rating {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      color: variables.$main-yellow;
    }
    p {
      margin-right: 15%;
    }
    a {
      text-decoration: none;
      color: white;
      padding: 10px;
      border-radius: 4px;
      &:hover {
        background-color: variables.$sec-grey;
        transition: all 0.4s ease;
      }
    }
  }
}
.custom-dot-list-style {
  width: 200px;
}
button.popular-movies-button {
  background-color: variables.$main-yellow;
  &:hover {
    border: 2px solid variables.$main-yellow;
  }
}
