@use "variables.scss";
.carousel-container {
  // display: flex;
  // justify-content: center;
}
.popular-movies-carousel {
  display: flex;
  flex-direction: column;
  margin: 2%;
  h1 {
    margin-left: 10px;
  }
}
.populuar-movies-card-container {
  // width: 100%;
  margin: 0 10px;
  max-height: 850px;
  // max-width: 300px;
  // padding: 15px;
  overflow: hidden;
  background-color: hsl(0, 0%, 5%);
  border-radius: 5px;
  h2 {
    margin: 5px 0;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
  }
  .card-components {
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .movie-plot {
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
    height: 50px;
  }
  img {
    width: 100%;
    min-width: 300px;
    height: 430px;
  }
  a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    background-color: variables.$main-yellow;
    font-weight: 800;
    margin: 10px 0;
    &:hover {
      background-color: darken($color: variables.$main-yellow, $amount: 10%);
      transition: all 0.4s ease;
    }
    svg {
      margin-left: 10px;
      font-size: large;
    }
    &:nth-of-type(2) {
      background-color: variables.$main-red;
      &:hover {
        background-color: darken($color: variables.$main-red, $amount: 10%);
      }
    }
  }
  .rating {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      color: variables.$main-yellow;
    }
    p {
      margin-right: 15%;
    }
    a {
      text-decoration: none;
      color: white;
      padding: 10px;
      border-radius: 4px;
      &:hover {
        background-color: variables.$sec-grey;
        transition: all 0.4s ease;
      }
    }
  }
}
.custom-dot-list-style {
  width: 200px;
}
