@use "variables.scss";
.carousel-container {
  display: flex;
  margin: 5%;
  //   width: 100%;
}
.populuar-movies-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  padding: 15px;
  background-color: hsl(0, 0%, 5%);
  border-radius: 5px;
  .movie-plot {
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
  }
  img {
    width: 100%;
  }
  button {
    cursor: pointer;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    background-color: variables.$main-yellow;
    font-weight: 800;
    margin: 10px 0;
    &:hover {
      background-color: darken($color: variables.$main-yellow, $amount: 10%);
      transition: all 0.4s ease;
    }
    svg {
      margin-left: 10px;
      font-size: large;
    }
    &:nth-of-type(2) {
      background-color: variables.$main-red;
      &:hover {
        background-color: darken($color: variables.$main-red, $amount: 10%);
      }
    }
  }
  .rating {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      color: variables.$main-yellow;
    }
    p {
      margin-right: 15%;
    }
    a {
      text-decoration: none;
      color: white;
      padding: 10px;
      border-radius: 4px;
      &:hover {
        background-color: variables.$sec-grey;
        transition: all 0.4s ease;
      }
    }
  }
}
