@use "variables.scss";
.rate-no-review-contianer {
  .rate-no-review-box {
    overflow: hidden;
    .hide-buttons {
      height: 0;
    }
    .rating-button {
      cursor: pointer;
      color: white;
      white-space: nowrap;
      padding: 10px 15px;
      align-self: center;
      border: none;
      border-radius: 3px;
      background-color: variables.$sec-grey;
      font-weight: 800;
      margin: 30px 0 0 0;
      &:hover {
        background-color: darken($color: variables.$sec-grey, $amount: 2%);
      }
    }
    .rating-review {
      display: flex;
      overflow: hidden;
      height: 0;
      flex-direction: column;
      transition: height 0.4s ease;
      h3 {
        text-align: center;
        span {
          color: grey;
        }
      }
      textarea {
        padding: 20px 5px 20px 20px;
        border-radius: 4px;
        border: none;
        outline: none;
        width: calc(100% - 25px);
        color: white;
        background-color: variables.$sec-grey;
        font-size: 1.1rem;
        height: 80px;
        overflow-x: hidden;
        resize: none;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: variables.$sec-grey;
          border-radius: 0 0 5px 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: black;
          border-radius: 10px;
        }
      }
    }
    .show-rating-review {
      height: 200px;
    }
    .rate-no-review-content-container {
      top: 0;
      position: relative;
      height: auto;
      transition: height 0.4s ease, top 0.4s ease;
    }
    .hide-rate-no-review-content-container {
      top: -500px;
      height: 0;
      transition: height 0.4s ease, top 0.4s ease;
    }
  }
}
