@use "variables.scss";
.ratings-page {
  padding: 1% 5%;
  max-width: 1800px;
  margin: 2% auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  .ratings-section {
    display: flex;
    flex-direction: column;
    background-color: darken($color: variables.$main-grey, $amount: 7%);
    padding: 1% 5%;
    border-radius: 5px;
    .ratings-item {
      text-decoration: none;
      color: white;
      display: flex;
      margin: 20px 0 40px 0;
      background-color: hsl(0, 0%, 3%);
      border-radius: 10px;
      transition: scale 0.3s ease, border 0.3s ease;
      border: 2px solid variables.$main-grey;
      &:hover {
        scale: 1.02;
        border: 2px solid variables.$sec-grey;
      }
      img {
        border-radius: 10px;
        width: 20%;
        max-width: 200px;
        min-width: 180px;
        position: relative;
      }
      .item-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 40px;
        padding: 0 30px 0 0;
        .top-cast {
          display: flex;
          flex-direction: row;
          align-items: center;
          span {
            display: none;
          }
          a {
            display: inline-block;
            text-decoration: none;
            margin: 0;
            color: hsl(0, 0%, 60%);
            transition: color 0.4s ease;
            &:hover {
              color: white;
            }
          }
          p {
            color: hsl(0, 0%, 60%);
            display: inline-block;
            margin: 5px 5px 5px 0;
          }
        }
      }
      .item-type {
        position: absolute;
        background-color: variables.$main-grey;
        padding: 0px 5px;
        border-radius: 9px 0 10px 0;
      }
    }
    .rated-on {
      margin: 0 0 20px 0;
    }
    .title-rate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 0 0;

      .rating {
        display: flex;
        align-items: center;
        font-size: 2rem;
        svg {
          color: variables.$main-yellow;
          margin: 15px 0 10px 5px;
        }
        p {
          margin: 15px 15px 10px 5px;
          color: white;
          span {
            color: gray;
          }
        }
        button {
          cursor: pointer;
          color: white;
          white-space: nowrap;
          max-width: fit-content;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 3px;
          background-color: variables.$main-grey;
          font-weight: 800;
          margin: 10px 0;
          &:hover {
            background-color: darken($color: variables.$main-grey, $amount: 3%);
            transition: all 0.4s ease;
          }
          svg {
            margin: 0 5px 0 0;
          }
        }
        .rate-vote-count {
          width: 150px;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          padding: 0 5px 5px 5px;
          transition: all 0.3s ease;
          &.user-rate {
            cursor: pointer;
            &:hover {
              background-color: variables.$main-grey;
              border-radius: 4px;
            }
          }
        }
        .rate-star {
          display: flex;
          align-items: center;
          .user-rating-star {
            color: variables.$main-red;
          }
        }
        .votes-count {
          font-size: 15px;
          color: grey;
          text-align: center;
          margin: 0;
          &.user-rating-text {
            color: white;
          }
          span {
            color: white;
          }
        }
      }
    }
  }
  .ratings-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50dvh;
    color: variables.$main-red;
    a {
      color: grey;
      text-decoration: none;
      transition: color 0.4s ease;
      &:hover {
        color: white;
      }
    }
  }

  .remove-item {
    width: 200px;
    font-size: 0.7rem;
    &:hover {
      letter-spacing: 2px;
    }
  }
}
@media (max-width: 950px) {
  .ratings-page {
    .ratings-section {
      .title-rate {
        h1 {
          margin: 0;
          align-self: flex-start;
        }
        margin: 25px 0;
        flex-direction: column;
      }
      .ratings-item {
        img {
          min-width: 200px;
        }
      }
    }
  }
}
@media (max-width: 740px) {
  .ratings-page {
    .ratings-section {
      .ratings-item {
        flex-direction: column;
        .item-details {
          width: auto;
        }
        img {
          width: 100%;
          max-width: none;
          min-width: auto;
        }
      }
    }
  }
}
@media (max-width: 460px) {
  .ratings-page {
    .ratings-section {
      .title-rate {
        .rating {
          flex-direction: column;
        }
      }
      .ratings-item {
        .item-details {
          .top-cast {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
