.remove-watchlist-box {
  max-width: 300px;
  text-align: center;
  .buttons {
    button {
      &:nth-last-of-type(1) {
        background-color: hsl(0, 100%, 50%);
        &:hover {
          border: 2px solid red;
        }
      }
      &:nth-last-of-type(2) {
        background-color: hsl(120, 100%, 35%);
        &:hover {
          border: 2px solid hsl(120, 100%, 35%);
        }
      }
    }
  }
}
