@use "variables.scss";
.no-valid-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 60px);
  flex-direction: column;
  a {
    padding: 15px 20px;
    background-color: variables.$main-red;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    &:hover {
      background-color: darken($color: variables.$main-red, $amount: 5%);
      transition: background-color 0.3s ease;
    }
  }
}
.search-page {
  padding: 0 5%;

  .search-result {
    display: flex;
    margin: 40px 0;
    background-color: hsl(0, 0%, 3%);
    border-radius: 10px;

    img {
      border-radius: 10px;
      width: 20%;
      max-width: 200px;
    }
    .result-details {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      width: 100%;
      margin-left: 40px;
      padding: 0 30px 0 0;
      .info-watchlist {
        align-self: center;
      }

      .top-cast {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          display: inline-block;
          text-decoration: none;
          margin: 0;
          color: hsl(0, 0%, 60%);
        }
        p {
          color: hsl(0, 0%, 60%);
          display: inline-block;
          margin: 5px 5px 5px 0;
        }
      }
    }
  }
}
.title-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin-bottom: 0;
  }
  .rating {
    display: flex;
    align-items: center;
    font-size: 2rem;
    white-space: nowrap;
    svg {
      color: variables.$main-yellow;
    }
    p {
      margin: 15px 15px 15px 5px;
      color: white;
      span {
        color: gray;
      }
    }
    button {
      cursor: pointer;
      color: white;
      white-space: nowrap;
      max-width: fit-content;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 3px;
      background-color: variables.$main-grey;
      font-weight: 800;
      margin: 10px 0;
      &:hover {
        background-color: darken($color: variables.$main-grey, $amount: 3%);
        transition: all 0.4s ease;
      }
      svg {
        margin: 0 5px 0 0;
        // font-size: large;
      }
    }
  }
}
