@use "variables.scss";
.search-results {
  position: absolute;
  background-color: variables.$main-grey;
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 10px -10px variables.$sec-grey;
  //   height: 440px;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: white;
    font-weight: normal;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: variables.$main-grey;
    border-radius: 0 0 5px 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: variables.$sec-grey;
    border-radius: 10px;
    border: 3px solid variables.$main-grey;
  }

  .search-result {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid variables.$sec-grey;
    cursor: pointer;

    &:hover {
      background-color: darken($color: variables.$sec-grey, $amount: 10%);
    }
    img {
      width: 20%;
      min-height: 198px;
      margin-right: 15px;
    }
    .result-details {
      width: 60%;
    }
    h2 {
      margin-top: 0;
    }
    .date-rating {
      display: flex;
      align-items: center;
      p:nth-of-type(1) {
        margin-right: 15%;
      }
      svg {
        margin-right: 10px;
        color: variables.$main-yellow;
      }
    }
  }
  .no-results {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
}
.loading-search-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    scale: 2;
    margin-bottom: 20px;
  }
}
