@use "variables.scss";

.title-wide-card {
  margin: 0 10px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  .wide-card-content {
    transition: filter 0.3s ease;
    display: block;
    transform: translateZ(0);
  }
  &:hover .wide-card-content {
    filter: blur(0.5rem);
  }
  img {
    width: 100%;
    transition: transform 0.4s ease;
  }
  &:hover .wide-card-content > img {
    transform: scale(1.05);
  }
  .title-details {
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    color: white;
    h1 {
      margin: 10px 0;
      display: block;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .rating {
      display: flex;
      align-items: center;
      font-size: 15px;

      svg {
        margin-right: 10px;
        font-size: 25px;
        color: variables.$main-yellow;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
      }
    }
  }
  &:hover .mini-card {
    bottom: 5%;
  }
}

@media (max-width: 600px) {
  .title-wide-card {
    .title-details {
      h1 {
        margin: 5px 0;
        font-size: 1.5rem;
      }
    }
    &:hover .mini-card {
      bottom: 0%;
    }
  }
}
