@use "variables.scss";

.title-details-page {
  padding: 1% 5%;
  max-width: 1800px;
  margin: 2% auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.details-card {
  background-color: darken($color: variables.$main-grey, $amount: 7%);
  border-radius: 5px;
  display: flex;
  width: 100%;
  .popular-movies-button,
  .remove-item {
    width: 200px;
  }
  .title-type {
    position: absolute;
    background-color: variables.$main-grey;
    padding: 0px 5px;
    font-size: 1.2rem;
    border-radius: 3px 0 6px 0;
  }
  img {
    height: 550px;
    border-radius: 5px;
  }
  .title-overview {
    background-color: variables.$main-grey;
    padding: 10px;
    border-radius: 4px;
    margin: 25px 0;
    overflow-x: hidden;
    height: fit-content;
    max-height: 200px;
    line-height: 1.5;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: variables.$main-grey;
      border-radius: 0 0 5px 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: variables.$main-red;
      border-radius: 10px;
    }
  }

  .title-language {
    background-color: variables.$main-grey;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    display: inline;
    margin: 0 10px;
  }
  .rating {
    display: flex;
    align-items: center;
    font-size: 2rem;
    svg {
      color: variables.$main-yellow;
      margin: 15px 0 10px 5px;
    }
    p {
      margin: 15px 15px 10px 5px;
      color: white;
      span {
        color: gray;
      }
    }
    button {
      cursor: pointer;
      color: white;
      white-space: nowrap;
      max-width: fit-content;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 3px;
      background-color: variables.$main-grey;
      font-weight: 800;
      margin: 10px 0;
      &:hover {
        background-color: darken($color: variables.$main-grey, $amount: 3%);
        transition: all 0.4s ease;
      }
      svg {
        margin: 0 5px 0 0;
      }
    }
    .rate-vote-count {
      width: 150px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0 5px 5px 5px;
      transition: all 0.3s ease;
      &.user-rate {
        cursor: pointer;
        &:hover {
          background-color: variables.$main-grey;
          border-radius: 4px;
        }
      }
    }
    .rate-star {
      display: flex;
      align-items: center;
      .user-rating-star {
        color: variables.$main-red;
      }
    }
    .votes-count {
      font-size: 15px;
      color: grey;
      text-align: center;
      margin: 0;
      &.user-rating-text {
        color: white;
      }
      span {
        color: white;
      }
    }
  }
}
.details {
  display: flex;
  padding: 20px 20px 0 20px;
  flex-direction: column;
  margin-left: 2%;
  width: 100%;
  max-height: 520px;
  h1 {
    margin: 0;
    display: inline-block;
  }
  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: hsl(0, 0%, 65%);
      margin-left: 15px;
    }
  }

  p {
    margin: 10px 0;
  }
  .genres {
    display: flex;
    flex-wrap: wrap;
    p {
      background-color: variables.$main-yellow;
      margin-right: 10px;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }
  .director-writers {
    p {
      margin: 30px 0;
    }
    a {
      text-decoration: none;
      color: hsl(0, 0%, 60%);
      transition: 0.5s ease;
      &:hover {
        color: white;
      }
    }
  }
  button {
    align-self: center;
  }
  .your-rating-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    img {
      width: 20px;
      height: 20px;
      margin: 12px 0;
    }
    p {
      font-size: 15px;
    }
  }
  .add-watchlist-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
.date-time-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 10px;
    color: hsl(0, 0%, 65%);
  }
}
.date-time {
  display: flex;
}

.cast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: darken($color: variables.$main-grey, $amount: 7%);
  margin: 5% 0;
  padding: 1% 5%;
  border-radius: 5px;
  a {
    text-decoration: none;
    h1 {
      text-align: center;
      color: hsl(0, 0%, 50%);
      transition: all 0.5s ease;
      &:hover {
        color: white;
        letter-spacing: 1px;
      }
    }
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .cast-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 30%;
    padding: 10px;
    margin: 30px 0;
    border-radius: 5px;
    color: hsl(0, 0%, 65%);
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: hsl(0, 0%, 80%);
        transition: 0.4s all ease;
      }
    }

    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
        filter: grayscale(30%);
        transition: 0.4s all ease;
      }
    }
  }
}
.birth-location {
  p {
    margin: 15px 0 5px 0;
  }
  svg {
    margin-right: 10px;
    color: variables.$main-red;
  }
  span {
    color: hsl(0, 0%, 65%);
  }
}

.details-page-not-found {
  h1 {
    font-size: 5rem;
    margin: 0;
    color: variables.$main-red;
  }
}

@media (max-width: 1200px) {
  .date-time-rate {
    flex-direction: column;
  }
}
@media (min-width: 830px) and (max-width: 920px) {
  .details .director-writers p {
    margin: 10px 0;
  }
  .details-card .title-overview {
    margin: 10px 0;
  }
}

@media (max-width: 830px) {
  .details {
    width: 87.5%;
    max-height: none;
    .name {
      align-items: flex-start;
      flex-direction: column;
      h2 {
        margin-left: 0;
      }
    }
  }
  .details-card {
    flex-direction: column;
    img {
      height: auto;
    }
  }
}
@media (max-width: 500px) {
  .details {
    h1 {
      font-size: 25px;
    }
    .name {
      h2 {
        font-size: 20px;
      }
    }
  }
}
