@use "variables.scss";
.user-reviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: darken($color: variables.$main-grey, $amount: 7%);
  margin: 5% 0;
  padding: 1% 5%;
  border-radius: 5px;
  .no-reviews {
    text-align: center;
    margin: 20px 0 40px 0;
    line-height: 30px;
  }
}
