.leave-review .already-reviewed-box {
  width: 60%;
  display: flex;
  overflow: hidden;
}
.leave-review .already-reviewed-box .review {
  background-color: hsl(0, 0%, 20%);
}
.leave-review .already-reviewed-box .review-details.rev-det {
  align-items: flex-start;
}
.leave-review .already-reviewed-box .already-reviewed-content-contianer {
  top: 0;
  position: relative;
  height: auto;
  transition: height 0.4s ease, top 0.4s ease;
}
.leave-review .already-reviewed-box .hide-already-reviewed-content-contianer {
  top: -500px;
  height: 0;
  transition: height 0.4s ease, top 0.4s ease;
}