.leave-review .already-reviewed-box {
  width: 60%;
  display: flex;
}
.leave-review .already-reviewed-box .review {
  background-color: hsl(0, 0%, 20%);
}

.review-details.rev-det {
  align-items: flex-start;
}