.leave-review {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #080808;
  padding: 1% 5%;
  border-radius: 5px;
}
.leave-review .review-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leave-review .review-details h2 {
  margin: 0;
}
.leave-review .review-details .rating-stars {
  font-size: 2rem;
  color: #e89c1e;
  margin: 30px 0;
  transition: color 0.4s ease;
}
.leave-review .review-details .rating-stars svg {
  cursor: pointer;
}
.leave-review .review-details .rating-stars.shaking {
  color: red;
  transition: color 0.4s ease;
  animation: tilt-n-move-shaking 0.25s ease infinite;
}
.leave-review .review-details .rating {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 0 30px 0;
  color: grey;
  font-size: 2rem;
}
.leave-review .review-details .rating span {
  width: 30px;
}
.leave-review .review-details .rating svg {
  margin: 0 10px;
  color: #e89c1e;
}
.leave-review .review-details textarea {
  padding: 20px 5px 20px 20px;
  border-radius: 4px;
  border: 2px solid transparent;
  outline: none;
  width: calc(100% - 25px);
  color: white;
  background-color: hsl(0, 0%, 15%);
  font-size: 1.3rem;
  height: 80px;
  overflow-x: hidden;
  resize: none;
  transition: border 0.4s ease;
}
.leave-review .review-details textarea::-webkit-scrollbar {
  width: 8px;
}
.leave-review .review-details textarea::-webkit-scrollbar-track {
  background: hsl(0, 0%, 15%);
  border-radius: 0 0 5px 5px;
}
.leave-review .review-details textarea::-webkit-scrollbar-thumb {
  background-color: #e89c1e;
  border-radius: 10px;
}
.leave-review .review-details .submit-button {
  cursor: pointer;
  color: white;
  white-space: nowrap;
  max-width: fit-content;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: hsl(0, 0%, 15%);
  font-weight: 800;
  margin: 30px 0 20px 0;
}
.leave-review .review-details .submit-button:hover {
  background-color: #212121;
}
.leave-review .review-details .textarea-empty {
  border: 2px solid red;
}
.leave-review .review-details .field-cant-be-empty {
  visibility: hidden;
  color: red;
  margin: 10px 0 0 0;
  align-self: flex-start;
}
.leave-review .review-details .field-cant-be-empty.show {
  visibility: visible;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}