.main-page-search {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/popcorned-x.appspot.com/o/main-page-image.jpg?alt=media&token=e7d4d032-eb8a-4bb6-b626-c72fa309127e");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  height: calc(100vh - 60px);
  position: relative;
}
.main-page-search::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100dvh - 60px);
  background-color: hsla(0, 0%, 0%, 0.5);
}
.main-page-search .search-box {
  z-index: 1;
  position: relative;
  top: 25%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.main-page-search .search-box h1 {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
}
.main-page-search .search-box img {
  width: 40px;
}

@media (max-width: 700px) {
  .main-page-search .search-box {
    width: 95%;
  }
}
@media (max-width: 550px) {
  .main-page-search .search-box .input-container button {
    width: 20%;
  }
}
@media (max-width: 450px) {
  .main-page-search .search-box {
    top: 30%;
  }
  .main-page-search .search-box h1 {
    margin: 0;
    font-size: 1.6rem;
    justify-content: center;
  }
  .main-page-search .search-box .input-container button {
    width: 25%;
  }
  .main-page-search .search-box img {
    width: 30px;
  }
}