.navbar-container {
  background-color: hsl(0, 0%, 10%);
  width: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0%;
}

.navbar {
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 1.1em;
  position: relative;
}
.navbar .fav-navbar {
  display: flex;
}
.navbar .nav-logo {
  margin-right: 15px;
}
.navbar .nav-logo img {
  max-width: 200px;
}
.navbar .user-info {
  display: flex;
  align-items: center;
}
.navbar .user-info .user {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 125px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 35px;
  border-radius: 3px;
  white-space: nowrap;
}
.navbar .user-info .user:hover {
  background-color: hsl(0, 0%, 15%);
}
.navbar .user-info .user.user-backgrounded {
  background-color: hsl(0, 0%, 15%);
  transition: background-color 0.3s ease;
}
.navbar .user-info .user svg,
.navbar .user-info .user img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}
.navbar .user-info .user svg:nth-of-type(2),
.navbar .user-info .user img:nth-of-type(2) {
  width: 15px;
}
.navbar .user-info .user svg:nth-of-type(2).user-arrow-up,
.navbar .user-info .user img:nth-of-type(2).user-arrow-up {
  transition: transform 0.5s ease;
  transform: rotateX(180deg);
}
.navbar .user-info .user svg:nth-of-type(2).user-arrow-down,
.navbar .user-info .user img:nth-of-type(2).user-arrow-down {
  transition: transform 0.5s ease;
  transform: rotateX(0deg);
}
.navbar .user-info .sign-in-button {
  text-align: center;
  width: 100%;
  min-width: 120px;
}
.navbar .user-info .sign-in-button a {
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  margin-left: 35px;
  border-radius: 3px;
  white-space: nowrap;
  background-color: #e89c1e;
  color: white;
  transition: all 0.5s ease;
}
.navbar .user-info .sign-in-button a:hover {
  background-color: #bf7f14;
}
.navbar .favorites {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #ca282c;
}
.navbar .favorites p {
  margin: 0;
}
.navbar .favorites svg {
  width: 20px;
  margin-right: 5px;
}
.navbar .favorites:hover svg {
  animation: heart 1.5s ease infinite;
}

.popup-user {
  position: absolute;
  right: 5%;
  width: 125px;
  background-color: hsl(0, 0%, 15%);
  border-radius: 5px;
  top: 102%;
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 99;
}
.popup-user .fav-popup-user {
  display: none;
}
.popup-user a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  width: 100%;
  padding: 25px 0;
  margin: 0;
  cursor: pointer;
}
.popup-user a svg {
  margin: 0 6px;
}
.popup-user a:hover {
  background-color: hsl(0, 0%, 10%);
}

@keyframes heart {
  30% {
    transform: scale(1.1);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(20deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 900px) {
  .navbar .user-info .sign-in-button a {
    margin-left: 10px;
  }
  .navbar .fav-navbar {
    display: none;
  }
  .navbar .nav-logo img {
    max-width: 150px;
  }
  .popup-user .fav-popup-user {
    display: flex;
  }
}
@media (max-width: 700px) {
  .navbar .user-info .search-icon-clicked {
    display: none;
  }
  .navbar .user-info .sign-in-button {
    min-width: 40px;
  }
  .navbar .user-info .sign-in-button a {
    padding: 15px 5px;
  }
  .navbar .search-icon-clicked {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    transition: width 0.5s ease;
  }
  .navbar .full-width {
    width: 100%;
    transition: width 0.5s ease;
  }
  .navbar .nav-logo img {
    max-width: 140px;
  }
}