.profile-settings-page {
  padding: 1% 5%;
  max-width: 1800px;
  margin: 2% auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.profile-settings-page .profile-settings {
  display: flex;
  background-color: #080808;
  padding: 1% 5%;
  border-radius: 5px;
  align-items: center;
}
.profile-settings-page .profile-settings .profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.profile-settings-page .profile-settings .profile-picture .image-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-settings-page .profile-settings .profile-picture .image-container .profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
}
.profile-settings-page .profile-settings .profile-picture .image-container .image-uploading {
  width: 50px;
  height: 50px;
}
.profile-settings-page .profile-settings .profile-picture .image-text-container {
  height: 15px;
}
.profile-settings-page .profile-settings .profile-picture button {
  padding: 10px 20px;
  border: none;
  background-color: #e89c1e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 1000;
}
.profile-settings-page .profile-settings .divider {
  width: 1px;
  height: 600px;
  background-color: white;
  margin: 0 20px;
}
.profile-settings-page .profile-settings .user-info {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.profile-settings-page .profile-settings .user-info label {
  margin: 20px 0 10px 0;
}
.profile-settings-page .profile-settings .user-info input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.profile-settings-page .profile-settings .user-info input:disabled {
  color: grey;
  cursor: not-allowed;
}
.profile-settings-page .profile-settings .user-info button {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: #ca282c;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: 1000;
  transition: all 0.4s ease;
}
.profile-settings-page .profile-settings .user-info button:hover {
  background-color: #ac2226;
  transition: all 0.4s ease;
}
.profile-settings-page .profile-settings .user-info button:disabled {
  background-color: hsl(0, 0%, 35%);
  cursor: auto;
}
.profile-settings-page .profile-settings .user-info .email-group {
  display: inline-flex;
  width: 100%;
  margin: 0 20px 0 0;
  align-items: center;
  justify-content: space-between;
}
.profile-settings-page .profile-settings .user-info .email-group p {
  width: 10%;
  margin: 0 0 0 20px;
  color: hsl(0, 0%, 65%);
}
.profile-settings-page .profile-settings .user-info .email-group .verification-status {
  white-space: nowrap;
  text-align: center;
  width: fit-content;
}
.profile-settings-page .profile-settings .user-info .email-group .verification-status span {
  display: block;
  color: white;
  text-decoration: underline;
  color: #ca282c;
  margin: 5px 0;
  cursor: pointer;
}
.profile-settings-page .profile-settings .user-info .email-group .verification-status .verfication-sent {
  color: hsl(120, 100%, 35%);
}
.profile-settings-page .profile-settings .user-info .button-container {
  overflow: hidden;
}
.profile-settings-page .profile-settings .user-info .button-container .update-button {
  top: 0;
  position: relative;
  height: auto;
  transition: height 0.4s ease, top 0.4s ease, all 0.4s ease;
}
.profile-settings-page .profile-settings .user-info .button-container .hide-update-button {
  top: -500px;
  height: 0;
  padding: 0;
  transition: height 0.4s ease, top 0.4s ease, padding 0.4s ease;
}
.profile-settings-page .profile-settings .user-info .new-email-group,
.profile-settings-page .profile-settings .user-info .update-email-button {
  height: 0;
  padding: 0;
  position: relative;
  visibility: hidden;
  transition: height 0.4s ease, padding 0.4s ease, position 0.4s ease;
}
.profile-settings-page .profile-settings .user-info .new-email-group:nth-of-type(3),
.profile-settings-page .profile-settings .user-info .update-email-button:nth-of-type(3) {
  margin-top: 10px;
}
.profile-settings-page .profile-settings .user-info .invalid-input,
.profile-settings-page .profile-settings .user-info .password-no-match {
  color: red;
}
.profile-settings-page .profile-settings .user-info .invalid-input svg,
.profile-settings-page .profile-settings .user-info .password-no-match svg {
  margin-right: 10px;
}
.profile-settings-page .profile-settings .user-info .show-email-group,
.profile-settings-page .profile-settings .user-info .show-update-email-button {
  height: auto;
  padding: 10px;
  visibility: visible;
  position: relative;
  transition: height 0.4s ease, padding 0.4s ease;
}
.profile-settings-page .email-updated,
.profile-settings-page .password-updated {
  color: hsl(120, 100%, 35%);
  font-size: larger;
}
.profile-settings-page .email-updated svg,
.profile-settings-page .password-updated svg {
  margin-left: 10px;
}
.profile-settings-page .choose-image-button {
  cursor: pointer;
  background-color: #ca282c;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.4s ease;
}
.profile-settings-page .choose-image-button:hover {
  background-color: #ac2226;
}
.profile-settings-page .select-image-alert {
  color: red;
}
.profile-settings-page .select-image-alert svg {
  margin-right: 10px;
}
.profile-settings-page .image-updated {
  color: hsl(120, 100%, 50%);
}
.profile-settings-page .image-updated svg {
  margin-right: 10px;
}