.rating-box-contianer .rating-box {
  width: 450px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rating-box-contianer .rating-box .rating-stars {
  font-size: 2rem;
  color: #e89c1e;
  margin: 30px 0;
}
.rating-box-contianer .rating-box .rating-stars svg {
  cursor: pointer;
}
.rating-box-contianer .rating-box .rating-box-content-container {
  display: flex;
  flex-direction: column;
}
.rating-box-contianer .rating-box .rating-box-content-container .rating-button {
  cursor: pointer;
  color: white;
  white-space: nowrap;
  max-width: fit-content;
  font-size: 1.1rem;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 15%);
  font-weight: 800;
  margin: 30px 0 0 0;
  transition: all 0.3s ease;
}
.rating-box-contianer .rating-box .rating-box-content-container .rating-button:hover {
  background-color: #212121;
}
.rating-box-contianer .rating-box .rating-box-content-container .rating-button svg {
  color: #e89c1e;
  margin-right: 10px;
}
.rating-box-contianer .rating-box .rating {
  text-align: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  font-size: 2rem;
  color: hsl(0, 0%, 65%);
}
.rating-box-contianer .rating-box .rating span {
  width: 30px;
}
.rating-box-contianer .rating-box .rating svg {
  margin: 0 10px;
  color: #e89c1e;
}
.rating-box-contianer .rating-box .rating-review h3 {
  text-align: center;
}
.rating-box-contianer .rating-box .rating-review h3 span {
  color: grey;
}
.rating-box-contianer .rating-box .rating-review textarea {
  padding: 20px 5px 20px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: calc(100% - 25px);
  color: white;
  background-color: hsl(0, 0%, 15%);
  font-size: 1.1rem;
  height: 80px;
  overflow-x: hidden;
  resize: none;
}
.rating-box-contianer .rating-box .rating-review textarea::-webkit-scrollbar {
  width: 8px;
}
.rating-box-contianer .rating-box .rating-review textarea::-webkit-scrollbar-track {
  background: hsl(0, 0%, 15%);
  border-radius: 0 0 5px 5px;
}
.rating-box-contianer .rating-box .rating-review textarea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
.rating-box-contianer .rating-box .rating-box-content-container {
  top: 0;
  position: relative;
  height: auto;
  transition: height 0.4s ease, top 0.4s ease;
}
.rating-box-contianer .rating-box .hide-rating-box-content-container {
  top: -500px;
  height: 0;
  transition: height 0.4s ease, top 0.4s ease;
}

@media (max-width: 400px) {
  .rating-box-contianer .rating-box .rating-stars {
    font-size: 1.55rem;
  }
}