.rating-box-contianer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.rating-box-contianer .rating-box {
  background-color: hsl(0, 0%, 10%);
  padding: 20px;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: top 0.3s ease;
}
.rating-box-contianer .rating-box .rating-stars {
  font-size: 2rem;
  color: #e89c1e;
  margin: 30px 0;
}
.rating-box-contianer .rating-box .rating-stars svg {
  cursor: pointer;
}
.rating-box-contianer .rating-box .rating-button {
  cursor: pointer;
  color: white;
  white-space: nowrap;
  max-width: fit-content;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: hsl(0, 0%, 15%);
  font-weight: 800;
  margin: 30px 0 0 0;
}
.rating-box-contianer .rating-box .rating-button:hover {
  background-color: #212121;
}
.rating-box-contianer .rating-box .rating-review h3 {
  text-align: center;
}
.rating-box-contianer .rating-box .rating-review h3 span {
  color: grey;
}
.rating-box-contianer .rating-box .rating-review textarea {
  padding: 20px 5px 20px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: calc(100% - 25px);
  color: white;
  background-color: hsl(0, 0%, 15%);
  font-size: 1.1rem;
  height: 80px;
  overflow-x: hidden;
  resize: none;
}
.rating-box-contianer .rating-box .rating-review textarea::-webkit-scrollbar {
  width: 8px;
}
.rating-box-contianer .rating-box .rating-review textarea::-webkit-scrollbar-track {
  background: hsl(0, 0%, 15%);
  border-radius: 0 0 5px 5px;
}
.rating-box-contianer .rating-box .rating-review textarea::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
.rating-box-contianer .rating-box .x-mark {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}