.remove-watchlist-box {
  max-width: 300px;
  text-align: center;
}
.remove-watchlist-box .buttons button:nth-last-of-type(1) {
  background-color: hsl(0, 100%, 50%);
}
.remove-watchlist-box .buttons button:nth-last-of-type(1):hover {
  border: 2px solid red;
  background-color: transparent;
}
.remove-watchlist-box .buttons button:nth-last-of-type(2) {
  background-color: hsl(120, 100%, 35%);
}
.remove-watchlist-box .buttons button:nth-last-of-type(2):hover {
  border: 2px solid hsl(120, 100%, 35%);
  background-color: transparent;
}