.search-results {
  position: absolute;
  background-color: hsl(0, 0%, 10%);
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 10px -10px hsl(0, 0%, 15%);
  overflow-x: hidden;
}
.search-results a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}
.search-results::-webkit-scrollbar {
  width: 12px;
}
.search-results::-webkit-scrollbar-track {
  background: hsl(0, 0%, 10%);
  border-radius: 0 0 5px 5px;
}
.search-results::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 10%);
}
.search-results .search-result {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid hsl(0, 0%, 15%);
  cursor: pointer;
}
.search-results .search-result:hover {
  background-color: #0d0d0d;
}
.search-results .search-result img {
  width: 20%;
  margin-right: 15px;
}
.search-results .search-result .result-details {
  width: 60%;
}
.search-results .search-result h2 {
  margin-top: 0;
}
.search-results .search-result .date-rating {
  display: flex;
  align-items: center;
}
.search-results .search-result .date-rating p:nth-of-type(1) {
  margin-right: 15%;
}
.search-results .search-result .date-rating svg {
  margin-right: 10px;
  color: #e89c1e;
}
.search-results .no-results {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.loading-search-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loading-search-results img {
  scale: 2;
  margin-bottom: 20px;
}