.no-valid-search,
.search-page-loading,
.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 60px);
  flex-direction: column;
}
.no-valid-search a,
.search-page-loading a,
.no-results a {
  padding: 15px 20px;
  background-color: #ca282c;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}
.no-valid-search a:hover,
.search-page-loading a:hover,
.no-results a:hover {
  background-color: #b52427;
  transition: background-color 0.3s ease;
}
.no-valid-search img,
.search-page-loading img,
.no-results img {
  width: 100px;
}

.no-results {
  height: calc(100dvh - 200px);
}

.search-page {
  padding: 0 5%;
}
.search-page .search-result {
  display: flex;
  margin: 40px 0;
  background-color: hsl(0, 0%, 3%);
  border-radius: 10px;
}
.search-page .search-result img {
  border-radius: 10px;
  width: 20%;
  min-width: 180px;
  max-width: 200px;
  position: relative;
}
.search-page .search-result .result-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
  padding: 0 30px 0 0;
}
.search-page .search-result .result-details .info-watchlist {
  align-self: center;
}
.search-page .search-result .result-details .top-cast {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-page .search-result .result-details .top-cast a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  color: hsl(0, 0%, 60%);
  transition: color 0.4s ease;
}
.search-page .search-result .result-details .top-cast a:hover {
  color: white;
}
.search-page .search-result .result-details .top-cast p {
  color: hsl(0, 0%, 60%);
  display: inline-block;
  margin: 5px 5px 5px 0;
}
.search-page .search-result .result-type {
  position: absolute;
  background-color: hsl(0, 0%, 10%);
  padding: 0px 5px;
  border-radius: 9px 0 10px 0;
}
.search-page .add-watchlist {
  background-color: #e89c1e;
}
.search-page .add-watchlist:hover {
  background-color: transparent;
  border: 2px solid #e89c1e;
}
.search-page .popular-movies-button {
  background-color: #e89c1e;
}
.search-page .popular-movies-button:hover {
  background-color: transparent;
  border: 2px solid #e89c1e;
}

.title-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
}
.title-rate .rating {
  display: flex;
  align-items: center;
  font-size: 2rem;
  white-space: nowrap;
}
.title-rate .rating svg {
  color: #e89c1e;
}
.title-rate .rating p {
  margin: 15px 15px 15px 5px;
  color: white;
}
.title-rate .rating p span {
  color: gray;
}

.known-for {
  font-weight: 800;
  color: hsl(0, 0%, 60%);
}

@media (max-width: 670px) {
  .title-rate {
    flex-direction: column;
  }
  .title-rate .rating {
    align-self: flex-start;
  }
  .title-rate .rating p {
    margin: 15px 15px 15px 0;
  }
  .search-page .search-result .result-details .top-cast {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 475px) {
  .search-page .search-result {
    flex-direction: column;
    overflow: hidden;
  }
  .search-page .search-result img {
    width: 100%;
    max-width: none;
    min-width: auto;
  }
  .search-page .search-result .result-details {
    margin: 0 20px;
    width: auto;
    padding: 0;
  }
  .title-rate {
    margin: 15px 20px 0 0;
    text-align: center;
  }
}