.title-details-page {
  padding: 1% 5%;
  max-width: 1800px;
  margin: 2% auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.details-card {
  background-color: #080808;
  border-radius: 5px;
  display: flex;
  width: 100%;
}
.details-card .popular-movies-button,
.details-card .remove-item {
  width: 200px;
}
.details-card .title-type {
  position: absolute;
  background-color: hsl(0, 0%, 10%);
  padding: 0px 5px;
  font-size: 1.2rem;
  border-radius: 3px 0 6px 0;
}
.details-card img {
  height: 550px;
  border-radius: 5px;
}
.details-card .title-overview {
  background-color: hsl(0, 0%, 10%);
  padding: 10px;
  border-radius: 4px;
  margin: 25px 0;
  overflow-x: hidden;
  height: fit-content;
  max-height: 200px;
  line-height: 1.5;
}
.details-card .title-overview::-webkit-scrollbar {
  width: 8px;
}
.details-card .title-overview::-webkit-scrollbar-track {
  background: hsl(0, 0%, 10%);
  border-radius: 0 0 5px 5px;
}
.details-card .title-overview::-webkit-scrollbar-thumb {
  background-color: #ca282c;
  border-radius: 10px;
}
.details-card .languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.details-card .title-language {
  background-color: hsl(0, 0%, 10%);
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
  margin: 0 10px;
}
.details-card .rating {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.details-card .rating svg {
  color: #e89c1e;
  margin: 15px 0 10px 5px;
}
.details-card .rating p {
  margin: 15px 15px 10px 5px;
  color: white;
}
.details-card .rating p span {
  color: gray;
}
.details-card .rating button {
  cursor: pointer;
  color: white;
  white-space: nowrap;
  max-width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: hsl(0, 0%, 10%);
  font-weight: 800;
  margin: 10px 0;
}
.details-card .rating button:hover {
  background-color: #121212;
  transition: all 0.4s ease;
}
.details-card .rating button svg {
  margin: 0 5px 0 0;
}
.details-card .rating .rate-vote-count {
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 5px;
  transition: all 0.3s ease;
}
.details-card .rating .rate-vote-count.user-rate {
  cursor: pointer;
}
.details-card .rating .rate-vote-count.user-rate:hover {
  background-color: hsl(0, 0%, 10%);
  border-radius: 4px;
}
.details-card .rating .rate-star {
  display: flex;
  align-items: center;
}
.details-card .rating .rate-star .user-rating-star {
  color: #ca282c;
}
.details-card .rating .votes-count {
  font-size: 15px;
  color: grey;
  text-align: center;
  margin: 0;
}
.details-card .rating .votes-count.user-rating-text {
  color: white;
}
.details-card .rating .votes-count span {
  color: white;
}

.details {
  display: flex;
  padding: 20px 20px 0 20px;
  flex-direction: column;
  margin-left: 2%;
  width: 100%;
  max-height: 520px;
}
.details h1 {
  margin: 0;
  display: inline-block;
}
.details .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details .name h2 {
  color: hsl(0, 0%, 65%);
  margin-left: 15px;
}
.details p {
  margin: 10px 0;
}
.details .genres {
  display: flex;
  flex-wrap: wrap;
}
.details .genres p {
  background-color: #e89c1e;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}
.details .director-writers p {
  margin: 30px 0;
}
.details .director-writers a {
  text-decoration: none;
  color: hsl(0, 0%, 60%);
  transition: 0.5s ease;
}
.details .director-writers a:hover {
  color: white;
}
.details button {
  align-self: center;
}
.details .your-rating-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
}
.details .your-rating-loading img {
  width: 20px;
  height: 20px;
  margin: 12px 0;
}
.details .your-rating-loading p {
  font-size: 15px;
}
.details .add-watchlist-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .add-watchlist-loading img {
  width: 40px;
  height: 40px;
}

.date-time-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-time-rate p {
  margin: 10px;
  color: hsl(0, 0%, 65%);
}

.date-time {
  display: flex;
}

.birth-location p {
  margin: 15px 0 5px 0;
}
.birth-location svg {
  margin-right: 10px;
  color: #ca282c;
}
.birth-location span {
  color: hsl(0, 0%, 65%);
}

.details-page-not-found h1 {
  font-size: 5rem;
  margin: 0;
  color: #ca282c;
}

@media (max-width: 1200px) {
  .date-time-rate {
    flex-direction: column;
  }
}
@media (min-width: 830px) and (max-width: 920px) {
  .details .director-writers p {
    margin: 10px 0;
  }
  .details-card .title-overview {
    margin: 10px 0;
  }
}
@media (max-width: 830px) {
  .details {
    width: 87.5%;
    max-height: none;
  }
  .details .name {
    align-items: flex-start;
    flex-direction: column;
  }
  .details .name h2 {
    margin-left: 0;
  }
  .details-card {
    flex-direction: column;
  }
  .details-card img {
    height: auto;
  }
}
@media (max-width: 500px) {
  .details h1 {
    font-size: 25px;
  }
  .details .name h2 {
    font-size: 20px;
  }
}