.cast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #080808;
  margin: 5% 0;
  padding: 1% 5%;
  border-radius: 5px;
}
.cast a {
  text-decoration: none;
}
.cast a h1 {
  text-align: center;
  color: hsl(0, 0%, 50%);
  transition: all 0.5s ease;
}
.cast a h1:hover {
  color: white;
  letter-spacing: 1px;
}
.cast .members {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(30%, 300px));
}
.cast .members .cast-member {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 30px 0.5%;
  border-radius: 5px;
  color: hsl(0, 0%, 65%);
}
.cast .members .cast-member a {
  color: white;
  text-decoration: none;
}
.cast .members .cast-member a:hover {
  color: hsl(0, 0%, 80%);
  transition: 0.4s all ease;
}
.cast .members .cast-member img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.cast .members .cast-member img:hover {
  cursor: pointer;
  filter: grayscale(30%);
  transition: 0.4s all ease;
}